.welcomeBackground {
  background-image: url("../../resource/background3.png");
  // position: absolute;
  // width: 390px;
  // height: 756.92px;
  // background-size: 50rem auto;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  //border: 1.5px solid #333333;


  .welcomebgContent {
    //padding-left: 8vw;
    font-size: 14pt;
    width: 100vw;
    height: 100vh;
    color: #1b0460;

    //border: 1.5px solid #e41717;

    .wechatId {

      font-size: 16pt;
      font-weight: bolder;
      padding-left: 8vw;
      padding-top: 26vh;

    }

    .niceMeet {
      padding-left: 8vw;
    }


    .wishRs {
      font-size: 24pt;
      font-weight: bolder;
      padding-left: 8vw;
      padding-top: 12vh;
    }

    .Regarding2023 {
      padding-left: 8vw;

    }

    .wishButton {
      box-sizing: border-box;
      width: 80%;
      height: 50px;
      left: 10vw;
      margin-top: 10vh;
      //padding-top: 3vh;
      background: rgba(255, 255, 255, 0.5);
      border: 1.5px solid #333333;
      border-radius: 10px;


      .iWish {
        /* 我要许愿 */
        position: center;
        width: 100px;
        height: 25px;
        // left: 0px;
        // top: 15px;

        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 400px;
        font-size: 18px;
        line-height: 25px;
        text-align: center;

        color: #0F3A60;
      }
    }

    // .container {
    //   position: relative;

    .groupName {
      position: absolute;
      font-size: 10pt;
      text-align: right;
      //display: block;
      //margin-top: 33vh;
      //padding-right: 5vw;
      bottom: 5%;
      right: 5%;


      .gnbord {
        font-weight: bolder;
      }
    }

  }

  // }

}